<div class="footer">
  <footer>

    <div class="left">
      <div class="title">
        <h1>Let's Connect</h1>
      </div>
      <div class="details">
        <p>If you have any open career opportunities or would just like to chat feel free to reach out!</p>
      </div>
    </div>
    <div class="right">
      <ul>
        <li><a href="#"><img src="../../assets/icons/github_icon.svg" alt="GitHub logo">GitHub</a></li>
        <li><a href="#"><img src="../../assets/icons/linkedin_icon_circle.svg" alt="GitHub logo">LinkedIn</a></li>
        <li><a href="#"><img src="../../assets/icons/facebook_icon.svg" alt="GitHub logo">Facebook</a></li>
        <li><a href="#"><img src="../../assets/icons/twitter_icon_circle_white.svg" alt="GitHub logo">Twitter</a></li>
      </ul>
    </div>

  </footer>
</div>
