<div class="footer">
  <footer>

    <div class="left">
      <div class="title">
        <h1>Let's Connect</h1>
      </div>
      <div class="details">
        <p>
          My most recent job helped me get a foot in the door into the world of software development and I want to
          continue growing within it.
          Since I am still fairly new to the world of software engineering, I would love to hear some feedback on my
          portfolio as
          well as
          any suggestions on how I can make it better. Lastly, if you have any open career opportunities that you think
          I might be qualified for, or would just like to chat feel free to reach out and connect with me!</p>
      </div>
    </div>

    <div class="right">
      <ul>
        <li><a href="https://www.linkedin.com/in/dchrostowski/" target="_blank"><img src="../../assets/icons/linkedin_icon_circle.svg" alt="GitHub logo"></a></li>
        <li><a href="https://github.com/dchrostowski11" target="_blank"><img src="../../assets/icons/github_icon.svg" alt="GitHub logo"></a></li>
        <li><a href="mailto:danielchrostowski11@gmail.com"><img src="../../assets/icons/email-icon.svg" alt="Email"></a></li>
      </ul>
    </div>

    <span>Built by Daniel Chrostowski using Angular</span>
  </footer>

</div>
