/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary: rgb(111, 0, 255);
$primary-text: #A970FF;
$regular-text: #A9B3B5;


body {
    margin: 0;
    height: 100vh;
    // margin-top: 100px;
    font-family: 'Poppins';
    font-size: 18px;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

// ::-webkit-scrollbar {
//     width: 12px;
// }

// ::-webkit-scrollbar-thumb {
//     background: #A970FF;
//     border-radius: 6px;
// }


@media screen and (max-width: 420px) {

    body {
        margin: 0;
        height: 100vh;
        font-family: 'Poppins';
        font-size: 12px;
        background-color: black;
    }
            
}

